
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   gap: 18px;
 
  
}

.container{
  border: 2px solid black;
  display: grid;
  
text-align: center;
 width: 960px;
 height: 500px;
}
.makeGrid, .clearButton{
  padding: 20px;
  border-radius: 20px;
}



.items{
  cursor: pointer;
  
}
.myColor:hover{
  background-color: blue;
  transition: ease 0.1s all;
}
