
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  gap: 18px;
  
}

.container{
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  gap: 2px;
  text-align: center;
  position: relative;
}
.clearButton{
  padding: 20px;
}


.items{
  cursor: pointer;
  padding: 20px;
}
.myColor:hover{
  background-color: blue;
  transition: ease 0.1s all;
}